@media only screen and (max-width:575px) {
    
    header{
        position: static;
    }
    .header-mid{
        padding: 12px 10px;
    }
    .header-mid figure{
        flex-basis: 60%;
    }
    .header-mid figure img{
        width: 78%;
    }
    .menu-bar{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(162, 129, 129, 0.2);
        padding: 7px 9px;
    }
    .menu-bar.activeMenu{
        background-color: red;
    }
    .menu-bar1{
        display: none;
    }
    .menu-bar i.activebtn{
        font-size: 16px;
        color: white;
    }
    .header-mid nav{
        position: fixed;
        background:white;
        width: 80%;
        height: 100vh;
        z-index: 99;
        left: -100%;
        top: 0px;
        padding: 20px 10px 10px 10px;
        transition: 0.3s ease;
    }
    .header-mid nav figure{
        display: block;
        width: 190px;
    }
    .header-mid>nav>ul{
        flex-direction: column; 
        gap: 14px;
        padding: 20px;
    }
    .header-mid>nav>ul>li a{
        justify-content: space-between;
    }
    .header-mid>nav>ul>li>a{
        display: flex;
        gap: 6px;
        align-items: center;
        font-size: 16px;
        color:var(--maroon_text_color);
        line-height: 24px;
        letter-spacing: 0.8px;
        padding: 0px;
    }
    .header-mid>nav>ul>li>a i{
        font-size: 11px;
    }

    .banner{
        margin-top: 10px;
    }
    .banner-mid{
        flex-direction: column;
        padding: 0px 10px;
    }
    .banner-left{
        flex-basis: 100%;
        padding:72px 0px;    
        border-radius: 12px;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
    }
    .banner-left-content{
        width: 100%;
        display: flex;
    }
    .banner-left-content h1{
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        line-height: 28px;
        padding: 8px 40px;
        margin-bottom: 4px;
    }
    .banner-left-content h1 br{
        display: inline;
    }
    .search-bar{
        width: 85%;
        height: 32px;
        display: flex;
    }
    .search-bar input{
        flex-basis: 78%;
        padding: 12px 14px;
    }
    .search-bar input[type=text]{
        font-size: 12px;
        letter-spacing: 0.8px;
    }
    input::placeholder{
        font-size: 12px;
        letter-spacing: 0.9px;
        font-weight: 400;
    }
    .search-bar button{
        flex-basis: 13%;
        padding: 8px 14px;
    }
    .search-bar button i{
        font-size: 13px;
        color: white;
        filter: brightness(2);
    }
    .banner-right{
        border-radius: 12px;
    }
    .right-content-bg{
        padding-top: 180px;
        border-radius: 12px;
        padding-bottom: 30px;

    }
    .banner-right span{
        width: 36%;
        font-size: 13px;
        letter-spacing: 0px;
        border-radius: 7px;
        padding: 4px 5px;
        margin-bottom: 6px;
    }
    .banner-right h2{
        margin: 6px 0px;
        font-size: 22px;
    }
    .banner-right p{
        font-size: 13px;
        padding-bottom: 0px;
        margin-top: 0px;
    }

    .middle-part{
        flex-direction: column;
        padding: 0px 10px;
    }
    .part1{
        margin-bottom:5px;
        padding: 18px 10px;
    }
    .part1 figure img{
        width: 75%;
    }
    .part1 .part1-content h3{
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0.5px;
        margin-bottom: 15px;
    }
    .part1 .part1-content p{
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 0.5px;
        word-spacing: 0.1px;
    }
    .india-destinations{
        padding: 0px 10px;
    }
    .inner-content-col1{
        min-height: 180px;
    }
    .title h2{
        font-size: 25px;
        letter-spacing: 0.1px;
        word-spacing: 0.2px;
        padding: 0px 0px;
        margin-bottom:18px;
    }
    .indian-places-left{
        flex-basis: 100%;
        min-height: 320px;
    }
    
    .indian-places{
        flex-direction: column;
    }
    .indian-places-right{
        flex-direction: column;
        gap: 0px;
        padding: 8px 0px;
    }
    .right-content-col1{
        flex-basis: 100%;
        min-height: 174px;
        margin-bottom: 8px;
    }
    
    .left-content h3{
        font-size: 18px;
        font-weight: 500;
        margin: 8px 0px;
        letter-spacing: 0.8px;
    }
    .left-content p{
        font-size: 14px;
        letter-spacing: 0.8px;
        margin-bottom: 8px;
    }


    .international-places{
        margin: 0px auto;
        padding: 20px 10px;
    }
    .international-places-mid{
        max-width: 1320px;
        margin: auto;
    }
    .international-places-inner{
        flex-direction: column;
    }
    .inner-content-col1{
        min-height: 180px;
    }
    .travel-themes{
        padding: 10px 10px;
    }
    .travel-themes-inner{
        flex-direction: column;
    }
    .travel-themes-inner .inner-content-col1{
        min-height: 180px;
    }
    .top-picks{
        padding-bottom: 0px;
        margin-top: 20px;
        background: rgba(0, 0, 0, 0.15);

    }
    .top-picks-mid{
        padding: 20px 10px;
    }
    .top-picks-inner{
        flex-direction: column;
    }
    .inner-col1{
        margin-bottom: 20px;
    }
    .inner-col1 a h3{
        font-size: 16px;
        margin-top: 12px;
        padding-bottom: 10px;
    }
    .col1-content-bottom{
        margin: 18px 15px;
    }
    .col1-content-bottom p{
        font-size: 14px;
    }
    .detail-btn{
        padding: 10px 12px;
        font-size: 14px;
    }

    .best-sellers-mid{
        padding: 20px 10px;
        margin-bottom: 10px;
    }
    .best-sellers-inner{
        flex-direction: column;
        gap: 10px;
    }
    .left-btn{
        left: 0px;
        top: 90px;
        padding: 9px 15px;
    }
    .right-btn{
        right: 0px;
        top: 90px;
        padding: 9px 15px;
    }
    .lable{
        width: 120px;
        font-size: 12px;
    }
    
    .seller-1-content h4{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .seller-1-content span{
        font-size: 12px;
    }
    .blog-posts{
        background-color: rgb(225, 224, 224);
    }
    .blog-posts-mid{
        padding: 20px 10px;
    }
    .blog-posts-mid h3{
        font-size: 22px;
    }
    .blog-posts-mid p{
        font-size: 14px;
    }
    .blog-posts-inner{
        flex-direction: column;
        gap: 10px;
    }
    .post1-content{
        padding: 20px 15px;
    }
    .post1-content h2{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 18px;
        word-spacing: 0.8px;
        letter-spacing: 0.5px;
    }
    .post1-content p{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.4px;
        word-spacing: 0.7px;
    }
    .faqs{
        padding: 10px 0px;
    }
    .faqs-mid{
        padding: 10px 10px;
    }
    .faqs h2{
       font-size: 20px;
       font-weight: 600;
    }
    .faqs .que-1{
        margin: 8px 0px;
    }
    .faqs .que-1 h4{
        font-size: 15px;
        padding: 10px;
        word-spacing: -0.5px;
    }
    .faqs .que-1 h4 i{
        font-size: 12px;
    }
    .faqs .que-1 button i{
        font-size: 14px;
    }
    .queContent p{
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1px;
        word-spacing: 0px;
        padding: 10px 12px 10px 10px;
    }
    
    .border1{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .subscribe-container{
        margin:  10px auto;
        padding: 0px 10px;
        gap: 10px;
        flex-wrap: wrap;
    }
    .subscribe-container input{
        flex-basis: 100%;
        padding: 10px;
        border-radius: 8px;
    }
    ::placeholder{
        font-size: 12px;
        letter-spacing: 0.4px;
    }
    .subscribe-container button{
        flex-basis: 0px;
        padding: 6px 10px;
        font-size: 14px;
        letter-spacing: 0.4px;
    }

    footer{
        padding: 20px 10px 10px 10px;
    }
    .review-checking{
        font-size: 16px;
        padding: 10px 0px;
    }
    .review-checking img{
        width: 90px ;
    }
    .footer-container{
        flex-direction: column;
        padding: 10px;
    }
    .footer-container .col1 h3{
        font-size: 16px;
        margin: 12px 0px;
    }
    .footer-container .col1 ul li{
        margin: 0px 0px;
    }
    .footer-container .col1 ul li i{
        font-size: 11px;
        margin-right:5px;
    }
    .footer-container .col1 ul li a{
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.4px;
    }
    .footer-bottom{
        flex-direction: column;
    }
    .footer-bottom-col1{
        padding: 5px 0px;
        gap: 3px;
    }
    .footer-bottom-col1 span{
        font-size: 13px;
        letter-spacing: 0.3px;
    }
    .footer-bottom-col1 p{
        font-size: 13px;
    }
    .socialhover a{
        width: 30px;
        height: 30px;
    }

    .messages{
        display: none;
    }
  
}