@media only screen and (max-width:575px){
    .header-mid{
        padding: 12px 10px;
    }
    .header-mid figure{
        flex-basis: 60%;
    }
    .header-mid figure img{
        width: 80%;
    }
    .search-bar{
        display: none;
    }

    .menu-bar{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(162, 129, 129, 0.2);
        padding: 7px 9px;
    }
    .menu-bar i{
        font-size: 16px;
    }
    .header-mid>nav>ul{
        display: none;
    }
    .section-packages{
        padding: 5px 10px;
    }
    .cat-bar nav{
        margin: 0px;
    }
    .cat1{
        font-size: 14px;
        word-spacing: 0.6px;
    }
    .cat2{
        font-size: 14px;
        padding-left: 5px;
        word-spacing: 0.6px;
    
    }
    .cat3{
        font-size: 14px;
        padding-left: 5px;
    }
    .filter-list{
        display: none;
    }
    .content-container{
        flex-basis: 100%;
        padding: 0px 0px;
    }
    .content-container h3{
        font-size: 22px;
        margin-bottom: 8px;
    }
    .content-container p{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .flex-content{
        flex-direction: column;
    }
    .inner-col1{
        flex-basis: 100%;
    }
    .inner-col1 a h3{
        font-size: 16px;
    }
    .col1-content-bottom{
        margin: 10px 14px;
    }
    .left1 p{
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.6px;
    }
    .left1 h4{
        font-size: 14px ;
        margin-top: 2px;
    }
    .left1 span{
        font-size: 12px;
    }
    .left1 label{
        font-size: 12px;
        padding: 2px 4px;
    }
    .detail-btn{
        padding:8px 12px;
        font-size: 12px;
    }
    .ld-mr{
        padding: 10px;
        font-size: 16px;
        border-radius: 10px;
    }


    .faqs{
        padding: 10px 0px;
    }
    .faqs-mid{
        padding: 10px 10px;
    }
    .faqs h2{
       font-size: 20px;
       font-weight: 600;
    }
    .faqs .que-1{
        margin: 8px 0px;
    }
    .faqs .que-1 h4{
        font-size: 15px;
    }
    .faqs .que-1 button i{
        font-size: 14px;
    }
    .border1{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .subscribe-container{
        margin:  10px auto;
        padding: 0px 10px;
        gap: 10px;
        flex-wrap: wrap;
    }
    .subscribe-container input{
        flex-basis: 100%;
        padding: 10px;
        border-radius: 8px;
    }
    ::placeholder{
        font-size: 12px;
        letter-spacing: 0.4px;
    }
    .subscribe-container button{
        flex-basis: 0px;
        padding: 6px 10px;
        font-size: 14px;
        letter-spacing: 0.4px;
    }
    footer{
        padding: 10px;
    }
    .review-checking{
        font-size: 18px;
        padding: 10px 0px;
    }
    .review-checking img{
        width: 100px ;
    }
    .footer-container{
        flex-direction: column;
    }
    .footer-container .col1 h3{
        font-size: 18px;
        margin: 12px 0px;
    }
    .footer-container .col1 ul li{
        margin: 0px 0px;
    }
    .footer-container .col1 ul li i{
        font-size: 11px;
        margin-right:5px;
    }
    .footer-container .col1 ul li a{
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.4px;
    }
    .footer-bottom{
        flex-direction: column;
    }
    .footer-bottom-col1{
        padding: 5px 0px;
        gap: 2px;
    }
    .footer-bottom-col1 span{
        font-size: 13px;
        letter-spacing: 0.3px;
    }
    .footer-bottom-col1 p{
        font-size: 13px;
    }
    .socialhover{
        width: 30px;

    }
}